.vjs-ambilight--canvas {
	width: 100%;
	height: 100%;
}

.vjs-ambilight--canvas #ambilight {
	left: 0;
	top: 0;
	z-index: -1;
	position: absolute;
	pointer-events: none;
	/*transform: scale(1.1) translateZ(0);*/
	/*filter: blur(80px) opacity(1) saturate(300%);*/
}
